<!-- Game is being played -->
<div id="panel_ingame">
    <p id="order">Composez un mot avec les lettres suivantes :</p>
    <p id="random_letters">
        <span class="game_letter" onclick="add_letter(this.textContent)">{1}</span>
        <span class="game_letter" onclick="add_letter(this.textContent)">{2}</span>
        <span class="game_letter" onclick="add_letter(this.textContent)">{3}</span>
        <span class="game_letter" onclick="add_letter(this.textContent)">{4}</span>
        <span class="game_letter" onclick="add_letter(this.textContent)">{5}</span>
        <span class="game_letter" onclick="add_letter(this.textContent)">{6}</span>
        <span class="game_letter" onclick="add_letter(this.textContent)">{7}</span>
    </p>
    <span class="reset_btn" onclick="addLetter('reset')">Reset</span>
    <p></p>
    <div id="validation_btn" class="validation_btn" onclick="submit_word()">
        Your word : <span id="word"></span>
    </div>
</div>