<!-- Game is being played -->
<div id="panel_ingame">
    <p id="order">Make a word with the following letters :</p>
    <p id="random_letters">
        <span class="game_letter" id="lt1" onclick="add_letter(this.textContent)">{1}</span>
        <span class="game_letter" id="lt2" onclick="add_letter(this.textContent)">{2}</span>
        <span class="game_letter" id="lt3" onclick="add_letter(this.textContent)">{3}</span>
        <span class="game_letter" id="lt4" onclick="add_letter(this.textContent)">{4}</span>
        <span class="game_letter" id="lt5" onclick="add_letter(this.textContent)">{5}</span>
        <span class="game_letter" id="lt6" onclick="add_letter(this.textContent)">{6}</span>
        <span class="game_letter" id="lt7" onclick="add_letter(this.textContent)">{7}</span>
    </p>
    <span class="reset_btn" onclick="add_letter('reset')">Reset</span>
    <p></p>
    <div id="validation_btn" class="validation_btn" onclick="submit_word()">
        Your word : <span id="word"></span>
    </div>
</div>
<script>
    
</script>