/* Header css */

header {
    font-family: "varela", sans-serif;
    background-color: #161b22;
    border-width: 2px;
    border-color: #30363d;
    border-bottom-style: solid;
    position: sticky;
    padding: 0.9em;
}

#home_btn {
    font-size: 3em;
    cursor: pointer;
    padding: 0.3em;
    padding-right: 0.5em;
    border-width: 2px;
    border-color: #30363d;
    border-right-style: solid;
}

/* Body css */

body {
    font-family: "gluten", sans-serif;
    background-color: #0d1117;
    color: #BBBBBB;
    margin: 0px;
}

#main_box {
    margin: 10px;
}

.button div{
    background-color: #169490;
    color: #202020;
    width: 7em;
    height: 2em;
    margin-left: auto;
    margin-right: auto;
    line-height: 2em;
    font-size: 2em;
    font-family: "varela", sans-serif;
    text-align: center;
    border-radius: 1em;
    transition: all 0.5s 
}

.button div:hover{
    background-color: #22b9b4;
    color: #151515;
    cursor: pointer;
    width: 8em;
    border-radius: 1em 0em 1em 0em;

}