:root {
    --backgound-main: #0d1117;
    --backgroun-header: #161b22;
    --border-color: #30363d;
    --main-color: #169490;
    --main-color-hover: #22b9b4;
    --secondary-color: #bbbbbb;

}

/* Header css */

header {
    font-family: "varela", sans-serif;
    background-color: var(--backgroun-header);
    border-bottom-width: 2px;
    border-color: var(--border-color);
    border-bottom-style: solid;
    position: sticky;
}

#home_btn {
    cursor: pointer;
    padding: 1em;
    padding-right: 1.5em;
    border-width: 2px;
    border-color: var(--border-color);
    border-right-style: solid;
    content: url("../assets/pictures/Logo_64x64.png");
}

/* Body css */

body {
    font-family: "gluten", sans-serif;
    background-color: var(--backgound-main);
    color: var(--secondary-color);
    margin: 0px;
}

#main_box {
    margin: 10px;
}

#gauche {
    float: left;
    width: 70% ;
    text-align: center;
    height: 50em;
    border-radius: 1em;
    background-color: #566573 ;
}

#button div{
    background-color: var(--main-color);
    color: var(--backgound-main);
    width: 7em;
    height: 2em;
    margin-left: auto;
    margin-right: auto;
    line-height: 2em;
    font-size: 2em;
    font-family: "varela", sans-serif;
    text-align: center;
    border-radius: 1em;
    transition: all 0.5s 
}
#button div:hover{
    background-color: var(--main-color-hover);
    color: #151515;
    cursor: pointer;
    width: 8em;
    border-radius: 1em 0 1em 0;

}

#droite {
    float: right;
    width: 29%;
    text-align: center;
    height: 50em;
    border-radius: 1em;
    background-color:#566573;
} 